# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы сборки
dist/

# Игнорировать файлы логов
*.log

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы, созданные при сборке
*.lock